body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    opacity: 0.9;
    width: 35%;
    min-height: 350px;
    min-width: 350px;
    max-width: 550px;
}

.btn_container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.api__weather__container{
    margin-top: 20px;
}

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;    
}

.container_header h1{
    font-size: 18px;
}

.api__weather__container .container_header input{    
    width: 150px;
  }

.container_header button{
    width: 80px;
}

.weather_data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    align-items: center;
    gap: 10px;
}

.weather_data h1{
    font-size: 18px;
}

#city__name{
    order: 1;
}

#temp__atual{
    order: 2;
}

#temp__min{
    order: 5;
}

#temp__max{
    order: 6;
}

#weather_city_name{
    order: 3;
}

#weather_temp{
    order: 4;
}

#weather_temp_min{
    order: 7;
}

#weather_temp_max{
    order: 8;
}

.cep__data{
    display: flex;
    flex-direction: column;
}

.cep__data h1{
    font-size: 24px;
}

.cep_data_row{
    display: flex;
    /* align-items: center; */    
}

.cep_data_row h1{
    margin-right: 20px;
}

span{
    font-size: 18px;
}

.api__weather__container h4{
    font-size: 20px;
}

.currency__data{
    border: 1px solid;
}

.currency_body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;    
}

.currency_quantity{  
    text-align: center;
}

.currency_quantity input{
    padding: 4px;
}

.currency_rate{
    text-align: center;
}

.currency_body input, select{
    width: 120px;
    height: 30px;
}

.currency__result{
    margin-top: 20px;
    text-align: center;
}

.currency__result button{
    margin-bottom: 20px;
    width: 150px;
}

.currency_body h5{
    font-size: 18px;
}

.api_weather_background{
    background-image: url(./assets/images/api_weatherRedimensionada.jpg);
    background-size: cover;
}

.api_money_background{
    background-image: url(./assets/images/api_moneyRedimensionada.jpg);
    background-size: cover;
}

.api_viacep_background{
    background-image: url(./assets/images/api_viacepRedimensionada.jpg);
    background-size: cover;
}

@media (max-width: 1280px){
    .container_header{
        display: flex;
        flex-direction: column;        
    }

    .container_header h1 ~ input{
        margin-bottom: 10px;
    }
}

@media (max-width: 1130px){
    .weather_data h1{
        font-size: 14px;
    }

    .weather_data span{
        font-size: 16px;
    }

    .cep__data h1{
        font-size: 18px;
    }

    .cep__data span{
        font-size: 16px;
    }
}